<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
   <title>CricManiac</title>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/live.css">
  
</head>

<body>

  
<div class="contain">
    <div class="icon-wrapper">
        <svg id="cricket-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <title>Cricket</title>
              <path id="bat" class="cls-1" d="M86.68,22.9l-9.59-9.58a6.52,6.52,0,0,0-4.62-2,7.35,7.35,0,0,0-5,1.81L31.17,49.5a6.57,6.57,0,0,0,0,9.42l1,1L15.47,76.59l-5.29,5.29a1.6,1.6,0,0,0,0,2.31l5.29,5.29a1.6,1.6,0,0,0,2.31,0l5.29-5.29L39.76,67.51l1,1a6.52,6.52,0,0,0,4.62,2,6,6,0,0,0,4.63-2L78.09,40.74,82.88,36l3.8-3.8a6.39,6.39,0,0,0,0-9.25ZM16.63,86l-3-3,4-4,3,3Zm5.28-5.28-3-3L34.47,62.22l3,3ZM34.3,57.42,53,46.82,42.41,65.53Zm13.55,8.77a3.27,3.27,0,0,1-2.31,1,3.16,3.16,0,0,1-1.65-.5l10.9-19.49a1.47,1.47,0,0,0,.17-.83,1.54,1.54,0,0,0-.5-1.16,1.76,1.76,0,0,0-2-.33L33,55.78a2.8,2.8,0,0,1-.49-1.65,3.27,3.27,0,0,1,1-2.32l26.76-26.6L74.62,39.59ZM75.6,38.44,61.3,24.13,62.46,23h0l2.48-2.48h0l1.16-1.16,14.31,14.3Zm8.6-8.76-2.65,2.8L67.18,18.11l2.64-2.64a3.29,3.29,0,0,1,2.32-1,5.54,5.54,0,0,1,2.48,1L84.2,25A3.2,3.2,0,0,1,84.2,29.68Z" />
            <g id="ball">
              <path class="cls-2" d="M85,72.69a5,5,0,0,0-6.42,0,4.6,4.6,0,0,0-.63.62,5,5,0,0,0,.62,7,4.91,4.91,0,0,0,3,1.16A5,5,0,0,0,85,72.69Z" />
              <path class="cls-3" d="M78.46,72.64c6,2.14-.59,8,3.12,8.89" />
            </g>
        </svg>
      </div>
      <h1>CricManiac</h1>
      <div class="link">
        <div class="text"><a href="/" style="text-decoration: none">Home</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/matches" style="text-decoration: none">Matches</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/leaderBoard" style="text-decoration: none">LeaderBoard</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/news" style="text-decoration: none">News</a></div>
      </div>
      <div class="link">
        <div class="text"><a href="/about" style="text-decoration: none">About</a></div>
      </div>
 
</div>
    <span style="font-size: 40px;" class="vs">
        <%=data.fullScorecard.innings[0].team.shortName%>
         
        vs

        <% if(data.fullScorecard.innings[1]!= undefined) { %>
        <%=data.fullScorecard.innings[1].team.shortName%>
        <% }else if(data.fullScorecard.innings[0].team.shortName!=t1){ %>
         <%=    t1 %>
         <% } else{  %>
        <%=   t2 %>
       <%  } %>
    </span>
        <span class="headscore1">
                <img src="flags/<%=data.fullScorecard.innings[0].team.shortName%>.png" style="width:100px; height: 100px; border-radius:10px; padding-top: 30px;">
               <span style="justify-content: left; font-size: 90px;">
                <%=data.fullScorecard.innings[0].run%>/<%=data.fullScorecard.innings[0].wicket%>

               </span>
               <span>
                    (<%=data.fullScorecard.innings[0].over%>)
              </span>
                             
            </span>
            
        
        <span class="headscore2">
        <% if(data.fullScorecard.innings[1]!= undefined) { %>

            <span style="justify-content: left; font-size: 90px;">
                        
                <%=data.fullScorecard.innings[1].run%>/<%=data.fullScorecard.innings[1].wicket%>

                </span>

            
                <span>
                    (<%=data.fullScorecard.innings[1].over%>)
                </span>

                <img src="flags/<%=data.fullScorecard.innings[1].team.shortName%>.png" style="width:100px; height: 100px; border-radius:10px;padding-top: 30px;">

            <% } else { %>

                <span style="justify-content: left; font-size: 90px;">
                        
                        0/0
        
                        </span>
        
                    
                        <span>
                            (0)
                        </span>
                       
        <% if(data.fullScorecard.innings[0].team.shortName!=t1){ %>
                        <img src="flags/<%=t1%>.png"
                        style="width:100px; height: 100px; border-radius:10px;padding-top: 30px;">
             <%   } else{ %>
                <img src="flags/<%=t2%>.png"
                style="width:100px; height: 100px; border-radius:10px;padding-top: 30px;">
                <% } %>
                <% } %>

            </span>
                
   
		<span class="container-table100">
			<div class="wrap-table100">
					<div class="table">

						<div class="row header1">
							<div class="cell">
								Name
							</div>
							<div class="cell">
								R
							</div>
							<div class="cell">
								B
							</div>
							<div class="cell">
								4s
                            </div>
                            <div class="cell">
                                6s
                            </div>
                            <div class="cell">
                                S/R
                            </div>
						</div>

             <% data.fullScorecard.innings[0].batsmen.forEach(player => { %>
						<div class="row">
							<div class="cell" data-title="Name">
                                  <img src="<%=player.imageURL%>"
                                  style="width: 25px; height:25px; border-radius:50%"
                                  >  <%=  player.name  %> 
							</div>
							<div class="cell" data-title="Runs">
                                    <%=player.runs%> 
							</div>
							<div class="cell" data-title="Balls">
                                    <%=player.balls%>  
							</div>
							<div class="cell" data-title="Fours">
                                    <%=player.fours%>  
                            </div>
                            <div class="cell" data-title="Sixes">
                                    <%=player.sixes%>  
							</div>
							<div class="cell" data-title="Strike-Rate">
                                    <%=player.strikeRate%>  
							</div>
						</div>

              <% }) %>
		
						

					</div>
			</div>
		</span>

     
        <span class="container-table100">
                <div class="wrap-table100">
                        <div class="table">
    
                            <div class="row header2">
                                <div class="cell">
                                    Name
                                </div>
                                <div class="cell">
                                    R
                                </div>
                                <div class="cell">
                                    B
                                </div>
                                <div class="cell">
                                    4s
                                </div>
                                <div class="cell">
                                    6s
                                </div>
                                <div class="cell">
                                    S/R
                                </div>
                            </div>

        <% if(data.fullScorecard.innings[1]!= undefined) { %>

                 <% data.fullScorecard.innings[1].batsmen.forEach(player => { %>
                            <div class="row">
                                <div class="cell" data-title="Name">
                                      <img src="<%=player.imageURL%>"
                                      style="width: 25px; height:25px; border-radius:50%"
                                      >  <%=  player.name  %> 
                                </div>
                                <div class="cell" data-title="Runs">
                                        <%=player.runs%> 
                                </div>
                                <div class="cell" data-title="Balls">
                                        <%=player.balls%>  
                                </div>
                                <div class="cell" data-title="Fours">
                                        <%=player.fours%>  
                                </div>
                                <div class="cell" data-title="Sixes">
                                        <%=player.sixes%>  
                                </div>
                                <div class="cell" data-title="Strike-Rate">
                                        <%=player.strikeRate%>  
                                </div>
                            </div>
    
                  <% }) %>
            
        <% } else{%>
            
            <% data.fullScorecard.innings[0].batsmen.forEach(player => { %>
                <div class="row">
                    <div class="cell" data-title="Name">
                          <img src="http://www.coverbash.com/wp-content/themes/covers/images/blank_profile_pic.jpg"
                          style="width: 25px; height:25px; border-radius:50%"
                          >  Yet to Bat 
                    </div>
                    <div class="cell" data-title="Runs">
                            -
                    </div>
                    <div class="cell" data-title="Balls">
                            -  
                    </div>
                    <div class="cell" data-title="Fours">
                            -  
                    </div>
                    <div class="cell" data-title="Sixes">
                            -  
                    </div>
                    <div class="cell" data-title="Strike-Rate">
                            -  
                    </div>
                </div>

      <% }) %>

            <% } %>
    
                        </div>
                </div>
            </span>

	
 
    <!-- Bowling -->

     
    <span class="container-table100">
            <div class="wrap-table100">
                    <div class="table">

                        <div class="row header1">
                            <div class="cell">
                                Name
                            </div>
                            <div class="cell">
                                O
                            </div>
                            <div class="cell">
                                M
                            </div>
                            <div class="cell">
                                R
                            </div>
                            <div class="cell">
                                W
                            </div>
                            <div class="cell">
                                Econ
                            </div>
                        </div>

             <% data.fullScorecard.innings[0].bowlers.forEach(player => { %>
                        <div class="row">
                            <div class="cell" data-title="Name">
                                  <img src="<%=player.imageURL%>"
                                  style="width: 25px; height:25px; border-radius:50%"
                                  >  <%=  player.name  %> 
                            </div>
                            <div class="cell" data-title="Overs">
                                    <%=player.overs%> 
                            </div>
                            <div class="cell" data-title="Maidens">
                                    <%=player.maidens%>  
                            </div>
                            <div class="cell" data-title="Runs Conceaded">
                                    <%=player.runsConceded%>  
                            </div>
                            <div class="cell" data-title="Wickets">
                                    <%=player.wickets%>  
                            </div>
                            <div class="cell" data-title="Economy">
                                    <%=player.economy%>  
                            </div>
                        </div>

              <% }) %>
        
                        

                    </div>
            </div>
        </span>

        <span class="container-table100">
                <div class="wrap-table100">
                        <div class="table">
    
                            <div class="row header2">
                                <div class="cell">
                                    Name
                                </div>
                                <div class="cell">
                                    O
                                </div>
                                <div class="cell">
                                    M
                                </div>
                                <div class="cell">
                                    R
                                </div>
                                <div class="cell">
                                    W
                                </div>
                                <div class="cell">
                                    Econ
                                </div>
                            </div>

        <% if(data.fullScorecard.innings[1]!= undefined) { %>


                 <% data.fullScorecard.innings[1].bowlers.forEach(player => { %>
                            <div class="row">
                                <div class="cell" data-title="Name">
                                      <img src="<%=player.imageURL%>"
                                      style="width: 25px; height:25px; border-radius:50%"
                                      >  <%=  player.name  %> 
                                </div>
                                <div class="cell" data-title="Overs">
                                        <%=player.overs%> 
                                </div>
                                <div class="cell" data-title="Maidens">
                                        <%=player.maidens%>  
                                </div>
                                <div class="cell" data-title="Runs Conceaded">
                                        <%=player.runsConceded%>  
                                </div>
                                <div class="cell" data-title="Wickets">
                                        <%=player.wickets%>  
                                </div>
                                <div class="cell" data-title="Economy">
                                        <%=player.economy%>  
                                </div>
                            </div>
    
                  <% }) %>
            
        <% } else{%>
            
            <% data.fullScorecard.innings[0].bowlers.forEach(player => { %>
                <div class="row">
                    <div class="cell" data-title="Name">
                          <img src="http://www.coverbash.com/wp-content/themes/covers/images/blank_profile_pic.jpg"
                          style="width: 25px; height:25px; border-radius:50%"
                          >  Yet to Bowl 
                    </div>
                    <div class="cell" data-title="Overs">
                            - 
                    </div>
                    <div class="cell" data-title="Maidens">
                            -  
                    </div>
                    <div class="cell" data-title="Runs Conceaded">
                            -  
                    </div>
                    <div class="cell" data-title="Wickets">
                            -  
                    </div>
                    <div class="cell" data-title="Economy">
                            -  
                    </div>
                </div>

      <% }) %>

            
            <% } %>
                        </div>
                </div>
            </span>
    
                 
                  
  
  

    <script >
        
        var links = document.getElementsByClassName('link')
        for(var i = 0; i <= links.length; i++)
          addClass(i)


        function addClass(id){
          setTimeout(function(){
              if(id > 0) links[id-1].classList.remove('hover')
              links[id].classList.add('hover')
          }, id*750) 
        }

    
    </script>




</body>

</html>
